<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>Top Gun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content class="imagem">
    <ion-card>
  <div>
    <img class="img" src="https://ingresso-a.akamaihd.net/prd/img/movie/top-gun-maverick/5e534635-127b-4121-a89f-19c47f5ba2a8.jpg">
  </div>



  <h5><strong>Top Gun : Maverick</strong></h5>

    <h6><strong>24/05/2022 (BR)  • 2h11m</strong></h6>

  <div>
    <ion-chip color="secondary">
      <ion-label color="dark">Ação</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label color="dark">Drama</ion-label>
    </ion-chip>
  </div>
  </ion-card>


  </ion-card-content>

  <div class="auau">
  <ion-button><ion-icon name="heart"></ion-icon></ion-button>
  <ion-button><ion-icon name="bookmark"></ion-icon></ion-button>
  <ion-button><ion-icon name="star"></ion-icon></ion-button>
  </div>

  <ion-card>
    <h4><strong>Sinopse:</strong></h4>
    <h5>Depois de mais de 30 anos de serviço como um dos principais aviadores da Marinha, Pete "Maverick" Mitchell está de volta, rompendo os limites como um piloto de testes corajoso. No mundo contemporâneo das guerras tecnológicas, Maverick enfrenta drones e prova que o fator humano ainda é essencial.</h5>
  </ion-card>

</ion-content>
