<ion-header>
  <ion-toolbar>
    <ion-title>Harry Potter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card-content class="imagem">
  <ion-card>
<div>
    <img class="img" src="https://ingresso-a.akamaihd.net/img/cinema/cartaz/7766-cartaz.jpg">
</div>



<h5><strong>Harry Potter e a Pedra Filosofal</strong></h5>

  <h6><strong>20/09/2001 (BR)  • 2h32m</strong></h6>

<div>
  <ion-chip color="secondary">
    <ion-label color="dark">Fantasia</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label color="dark">Aventura</ion-label>
  </ion-chip>
</div>
</ion-card>


</ion-card-content>

<div class="auau">
<ion-button><ion-icon name="heart"></ion-icon></ion-button>
<ion-button><ion-icon name="bookmark"></ion-icon></ion-button>
<ion-button><ion-icon name="star"></ion-icon></ion-button>
</div>

<ion-card>
  <h4><strong>Sinopse:</strong></h4>
  <h5>Harry Potter é um garoto órfão que vive infeliz com seus tios, os Dursley. Em seu aniversário de 11 anos ele recebe uma carta que mudará sua vida: um convite para ingressar em Hogwarts.</h5>
</ion-card>



<ion-button routerLink="/home">
  <ion-icon name="home-outline"></ion-icon>
  Voltar à tela principal
</ion-button>

</ion-content>
