<ion-header>
  <ion-toolbar>
    <ion-title>Harry Potter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contento">


<div class="adiv">
<div class="ion-text-center">
    <img src="https://ingresso-a.akamaihd.net/img/cinema/cartaz/7766-cartaz.jpg">
</div>

<ion-item>
  <h6>20/09/2001 (BR)</h6>
<ion-chip color="secondary">
  <ion-label color="dark">Fantasia</ion-label>
</ion-chip>
<ion-chip color="secondary">
  <ion-label color="dark">Aventura</ion-label>
</ion-chip>
</ion-item>
</div>

</ion-content>
