<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>Homem Aranha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content class="imagem">
    <ion-card>
  <div>
    <img class="img" src="https://musicart.xboxlive.com/7/94fc5000-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080">
  </div>



  <h5><strong>Homem-Aranha no Aranhaverso</strong></h5>

    <h6><strong>10/01/2019 (BR)  • 1h57m</strong></h6>

  <div>
    <ion-chip color="secondary">
      <ion-label color="dark">Ação</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-label color="dark">Aventura</ion-label>
    </ion-chip>
  </div>
  </ion-card>


  </ion-card-content>

  <div class="auau">
  <ion-button><ion-icon name="heart"></ion-icon></ion-button>
  <ion-button><ion-icon name="bookmark"></ion-icon></ion-button>
  <ion-button><ion-icon name="star"></ion-icon></ion-button>
  </div>

  <ion-card>
    <h4><strong>Sinopse:</strong></h4>
    <h5>Miles Morales é um jovem negro do Brooklyn que se tornou o Homem-Aranha inspirado no legado de Peter Parker, já falecido. Entretanto, ao visitar o túmulo de seu ídolo em uma noite chuvosa, ele é surpreendido com a presença do próprio Peter, vestindo o traje do herói aracnídeo sob um sobretudo. A surpresa fica ainda maior quando Miles descobre que ele veio de uma dimensão paralela, assim como outras variações do Homem-Aranha.</h5>
  </ion-card>

</ion-content>
