<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>Thor 4</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>

    <ion-card-content class="imagem">
      <ion-card>
    <div>
      <img class="img" src="https://img.ibxk.com.br/2022/05/24/thor-4-24072357143000.jpg">
    </div>



    <h5><strong>Thor: Amor e Trovão</strong></h5>

      <h6><strong>08/07/2022 (BR)  • 1h59m</strong></h6>

    <div>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Aventura</ion-label>
      </ion-chip>
    </div>
    </ion-card>


    </ion-card-content>

    <div class="auau">
    <ion-button><ion-icon name="heart"></ion-icon></ion-button>
    <ion-button><ion-icon name="bookmark"></ion-icon></ion-button>
    <ion-button><ion-icon name="star"></ion-icon></ion-button>
    </div>

    <ion-card>
      <h4><strong>Sinopse:</strong></h4>
      <h5>Thor parte em uma jornada de autodescoberta, diferente de tudo que ele já enfrentou. Mas seus esforços são interrompidos por um assassino galáctico conhecido como Gorr, o Carniceiro dos Deuses, que busca a extinção dos deuses. Para combater esta ameaça, Thor pede a ajuda da Rei Valquíria, Korg e da ex-namorada Jane Foster, que, para a surpresa de Thor, inexplicavelmente empunha seu mágico martelo, Mjolnir, como a Poderosa Thor. Juntos, eles embarcam em uma angustiante aventura cósmica para descobrir o mistério da vingança do Carniceiro dos Deuses e detê-lo antes que seja tarde demais.</h5>
    </ion-card>

  </ion-content>
