<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/home" fill="clear">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>Jujutsu Kaisen</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <ion-card-content class="imagem">
      <ion-card>
    <div>
      <img class="img" src="https://br.web.img2.acsta.net/pictures/21/10/27/11/49/5430171.jpg">
    </div>



    <h5><strong>Jujutsu Kaisen: 0</strong></h5>

      <h6><strong>24/12/2021 (BR)  • 1h45m</strong></h6>

    <div>
      <ion-chip color="secondary">
        <ion-label color="dark">Animação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Ação</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label color="dark">Fantasia</ion-label>
      </ion-chip>
    </div>
    </ion-card>


    </ion-card-content>

    <div class="auau">
    <ion-button><ion-icon name="heart"></ion-icon></ion-button>
    <ion-button><ion-icon name="bookmark"></ion-icon></ion-button>
    <ion-button><ion-icon name="star"></ion-icon></ion-button>
    </div>

    <ion-card>
      <h4><strong>Sinopse:</strong></h4>
      <h5>O jovem Yuta Okkotsu ganha o controle de um espírito extremamente poderoso, então um grupo de feiticeiros o matriculam na Tokyo Prefectural Jujutsu High School, para ajudá-lo a controlar esse poder e também para ficar de olho nele.</h5>
    </ion-card>

  </ion-content>
